$color-red: #ca3c3f;
$color-dark: #282f40;
$color-golden: #b5945b;
$color-brown: #4a2c2d;

$color-text-primary: #595758;
$color-heading-primary: #040a1c;

$font-heading: 'Barlow', sans-serif;
$font-para: 'Lato', sans-serif;