.top-header {
    padding: 16px 10px;
    h4 {
        font-size: 1.15em;
        margin: 0;
        color: $color-heading-primary;
    }
    .top-header-container {
        display: flex;
        flex-wrap:nowrap;
        .top-header-social-links {
            width: 50%;
            padding-right: 15px;
            a  {
                    color: $color-red;
                    margin: 0 10px;
                }
                &:hover {
                    color: $color-golden;
                }
            }
        }
        .top-header-contact {
            text-align: right;
            width: 50%;
            padding-left: 15px;
            i {
                color: $color-red;
                margin: 0 10px;
            }
        }
    }
