.btn-main {
    padding: 14px 32px;
    display: inline-block;
    font-family: 'Barlow', sans-serif;
    font-size: 1.125em;
    color: #fff;
    letter-spacing: 0.1px;
    font-weight: normal;
    text-align: center;
    line-height: 150%;
    font-weight: 500;
    position: relative;
    white-space: nowrap;
    z-index: 1;
    position: relative;
    background: $color-red;
    border-width: 2px;
    border-style: solid;
    border-color: $color-red;
    &:hover {
        background: $color-golden;
        color: #fff;
        border-color: $color-golden;
    }
}
.btn-secondary {
    @extend .btn-main;
    color: #fff;
    border-color: $color-golden;
    background: $color-golden;
    &:hover {
        background: $color-red;
        border-color: $color-red;
    }
}
.btn-huge {
    @extend .btn-main;
    padding: 16px 38px;
}