.page-section {
    padding: 100px 0;
}
.page-section {
    h2 {
        font-size: 3.75em;
        text-align: center;
        color: $color-heading-primary;
        margin: 0 0 50px 0;
        text-transform: capitalize;
    }
}
.page-title {
    h2 {
        font-size: 3.75em;
        color: #fff;
        text-align: center;
        text-transform: capitalize;
    }
}
.bg-custom-light {
    background: #f3f3f3;
}
.bg-custom-dark {
    background: $color-dark;
    color: #fff;
}
.bg-custom-brown {
    background: $color-brown;
    color: #fff;
}
.font-light {
    color: #fff!important;
}
.fa-times {
    color: $color-red;
}